
<% provide(:title, 'About') %>

<h1>So Why Farkle on Rails?</h1>

<p>
  Okay, first things first, if you're looking for the rules for this game, click
  here  ...still around? Okay feel free to read on.
</p>

<p>
  This farkle app is my attempt to get the fine people and minds over at Neo to 
  take notice of my potential and bring me on as a development apprentice.  Apart 
  from that, farkle is a fun game, so why not?  If you would like to play already, 
  you can get started right here.
</p>