
<% provide(:title, 'Contact') %>

<h1>How To Get In Contact With Me</h1>

<p>
  If you would like to talk with me about this web app, you can reach me at 
  any of the following digital locations:
</p>

<!-- image of tech business card -->